<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="DefaultInputDirectory" value="../../tasks/"/>
    <add key="DefaultOutputFile" value="../../CompareResult.xlsx"/>
    <add key="DefaultInputFileNamePattern" value="*.xml"/>

    <add key="ParameterPattern" value="Parameter_(?&lt;name&gt;\w+)"/>
    <add key="Parameter_AsOfDate" value="20141006"/>
  </appSettings>
</configuration>