<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>

    <!-- default input path if user didn't specify one in command line arguments-->
    <add key="DefaultInputPath" value="E:/SCITIRecon/configs/combine.xml" />
    <!-- if DefaultInputPath is a directory, program will search files under the directory using this pattern-->
    <add key="DefaultInputFileNamePattern" value="*.xml" />
    <!-- default output file if task didn't specify Report path-->
    <add key="DefaultOutputFile" value="../../CompareResult.xlsx" />
    
    <add key="DefaultDatabaseQueryTimeout" value="300"/>

    <!-- regex to read parameters from this appSettings-->
    <add key="ParameterPattern" value="Parameter_(?&lt;name&gt;\w+)" />
    <!-- Parameter_XX -->
    <add key="Parameter_AsOfDate" value="20141007" />
  </appSettings>
</configuration>